@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Noto+Sans:wght@500&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  p {
    text-align: justify;
  }
}

h1,
h2,
h1 > a,
h2 > a {
  font-weight: 500;
  letter-spacing: 0.2em;
}
h3,
h4,
h5,
h6,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font-weight: 500;
  letter-spacing: 0.1em;
}
h1,
h1 > a {
  font-size: $font-size-xxl-desktop;
}

h2,
h2 > a {
  font-size: $font-size-xl-desktop;
  line-height: 49px;
}

h3,
h3 > a {
  font-size: $font-size-lg-desktop;
}
h4,
h4 > a {
  font-size: $font-size-md-desktop;
}

h5,
h5 > a {
  font-size: $font-size-sm-desktop;
}
h6,
h6 > a {
  font-size: $font-size-xs-desktop;
}

p {
  font-size: $font-size-sm-desktop;
  line-height: 22px;
}

a {
  font-size: $font-size-md-desktop;
  line-height: 27px;
}

@media (max-width: 470px) {
  h1,
  h2,
  h1 > a,
  h2 > a {
    font-weight: 500;
    letter-spacing: 0.2em;
  }

  h3,
  h4,
  h5,
  h6,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a {
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  h1 {
    font-size: $font-size-xxl-mobile;
  }

  h2 {
    font-size: $font-size-xl-mobile;
  }

  h3 {
    font-size: $font-size-lg-mobile;
  }
  h4 {
    font-size: $font-size-md-mobile;
  }

  h5 {
    font-size: $font-size-sm-mobile;
  }
  h6 {
    font-size: $font-size-xs-mobile;
  }
  p {
    font-size: $font-size-sm-mobile;
  }
}
