$primary-color: #ffffff;
$secondary-color: #0028c1;

$font-size-xs-desktop: 12px;
$font-size-sm-desktop: 16px;
$font-size-md-desktop: 20px;
$font-size-lg-desktop: 24px;
$font-size-xl-desktop: 36px;
$font-size-xxl-desktop: 40px;

$font-size-xs-mobile: 10px;
$font-size-sm-mobile: 12px;
$font-size-md-mobile: 14px;
$font-size-lg-mobile: 20px;
$font-size-xl-mobile: 24px;
$font-size-xxl-mobile: 32px;
