@import "fonts";
@import "variables";
@import "animations";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

html {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
