@import "../../../styles/global.scss";

.banner {
  height: 100vh;
  letter-spacing: 0.1rem;
  @include fadeIn;
  padding: 20px;

  &.transparent {
    background-color: transparent !important;
  }

  &-title {
    color: $primary-color;
    text-align: center;
    margin-bottom: 3rem;
    line-height: 54px;
  }

  &-description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    margin: auto;
    margin-bottom: 1rem;
    line-height: 50px;
    max-width: 480px;
    letter-spacing: 0.2em;
    text-align: center;
  }
}

@media (max-width: 470px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    letter-spacing: 0.2rem;
    text-shadow: 0px 0px 3px rgba(0, 40, 193, 0.75);
    @include fadeIn;

    &.transparent {
      background-color: transparent !important;
    }

    &-title {
      color: $primary-color;
      text-align: center;
      margin-bottom: 3rem;
      line-height: 44px;
    }

    &-description {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-color;
      margin: auto;
      margin-bottom: 1rem;
      line-height: 25px;
      max-width: 480px;
      // letter-spacing: 0.2em;
      text-align: center;
    }
  }
}
